$primary-color :#56AEF5;
$secondary-color :#F54D47;
$terciary-color :#2A6FA8;
$primary-text-color :#EEF53D;
$secondary-text-color :#A4A832;
$paragraph-size: 1.5em;

$font-stack: 'IBM Plex Sans', sans-serif;

// mixin son funciones para agrupar caractiteristicas de los objetos.
@mixin flexcenter($direction, $content, $align ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;

    }
}


body {
    margin: 0px;
    padding: 0px;
    background-color: $terciary-color;
    font-family: $font-stack;
}

.navbar {
    background-color: $secondary-color;
    width: auto;
    // display: flex;
    // justify-content: space-between;
    @include flexcenter(row,space-between,center);
    color: $primary-text-color;
    padding: 16px;
    p{
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle();
    }
}

article {
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    @include flexcenter(row, space-between, center);
    //display: flex;
    //justify-content: space-between;
    .impact-section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top:50px;
    }
    
    
    img {
        width: 25vw;
        border-radius: 19px;
    }

    h1 {
        font-size: 3em;
    }
    p {
        font-size: $paragraph-size;
    }
    button {
        width: 12vw;
        padding: 20px;
        background-color: $secondary-color;
        border-style: none;
        border-radius: 35px;
        font-size: 1em;
        color: white;
    }
}


section {
    width: auto;
    height: auto;
    background-color: pink;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    // healthcare
    .proyectos {
        padding-bottom: 60px ;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }
        .card-section{
            //display: flex;
            width: auto;
            height: auto;
            @include flexcenter(row, space-evenly ,center );
            // justify-content: center;
            // align-items: center;
            // espaciado entre cards
            column-gap: 100px;
            // cartas bajen a otra linea y no se expanda la
            row-gap: 80px;
            flex-wrap: wrap;
        }

        .product-card{
            width: 15vw;
            height: 45vh;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            .icon {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                }

            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 12vw;   
                    height: 30vh;
                    // para que no se mueva los elementos en el div
                    object-fit: cover;
                    border-radius: 8px;
                }

            }

        }


    }
    .estudios {
        // hacemos uso de la herencia tomamos todos los estilos ya creados
       @extend .proyectos;
       .product-card{
            background-color: $terciary-color; 
            color: white;
       }

    }

    
}

.info-section{
    //background-color: #F54D47;
    .about-us{
        padding-bottom: 60px;
        h2{
            font-weight: bold;
            padding-bottom: 60px ;

        }
        .mission-section{
            //background-color: #56AEF5;
            @include flexcenter(row, space-evenly ,center );
            .earth{
                width: 30vw;
                @include flexcenter(row, space-evenly ,center );  
                gap: 40px;
                color: black;
                img {
                    object-fit: contain;
                }
                p {
                    text-align: center;
                    font-size: $paragraph-size;
                }
            }
            .innovation{
                @extend .earth;
            }

        }

    }

    .gallery{
        .gallery-images{
            
            img{
               width: 30vw; 
               height: 45vh;
               object-fit: cover;
               border-radius: 16px;
            }
        }
    }
}