$primary-color :#56AEF5;
$secondary-color :#F54D47;
$terciary-color :#2A6FA8;
$primary-text-color :#EEF53D;
$secondary-text-color :#A4A832;
$paragraph-size: 1.5em;

$font-stack: 'IBM Plex Sans', sans-serif;


body {
    margin: 0px;
    padding: 0px;
    background-color: $terciary-color;
    font-family: $font-stack;
}

.navbar {
    background-color: $secondary-color;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 16px;
    p{
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        button {
            background-color: transparent;
            border-style: none;
        }
    }
}

article {
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    .impact-section{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top:50px;
    }
    
    
    img {
        width: 25vw;
        border-radius: 19px;
    }

    h1 {
        font-size: 3em;
    }
    p {
        font-size: $paragraph-size;
    }
    button {
        width: 12vw;
        padding: 20px;
        background-color: $secondary-color;
        border-style: none;
        border-radius: 35px;
        font-size: 1em;
        color: white;
    }
}


section {
    width: 100%;
    height: auto;
    background-color: pink;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }

    // healthcare
    .proyectos {
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }
        .product-card{
            width: 12vw;
            height: auto;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            img {
                width: 200px;   
                height: 250px;
                background-image: cover;
                border-radius: 6px;
            }
        }
    }

}