$primary-color :#56AEF5;
$secondary-color :#F54D47;
$terciary-color :#2A6FA8;
$primary-text-color :#EEF53D;
$secondary-text-color :#A4A832;
$paragraph-size: 1.5em;

$font-stack: 'IBM Plex Sans', sans-serif;


body {
    margin: 0px;
    padding: 0px;
    background-color: $terciary-color;
    font-family: $font-stack;
}

.navbar {
    // background-color: $secondary-color;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 15px;
    p{
        font-size: $paragraph-size;
        padding-left: 30px;
    }
    .icons {
        display: flex;
        gap: 15px;
        button {
            background-color: transparent;
            border-style: none;
        }
    }
}

article {
    // color de texto
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 3em;
    }
    p {
        font-size: $paragraph-size;
    }

    .img {
        width: 25vw;
        border-radius: 19px;
     }

}